	<ion-view view-title=" Dashboard" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-dashboard" class=" page-dashboard">
		
		<div class="dashboard-panel">
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light positive-bg ink"  ng-href="#/krylatskoe_abc_school/dash_" >
					<i class="icon ion-android-home" ></i>
					<p>{{ "Домой" | translate }}</p>
				</a>
				<a class="col-33 no-border light positive-900-bg ink"  ng-href="#/krylatskoe_abc_school/uche_" >
					<i class="icon ion-person-stalker" ></i>
					<p>{{ "Ученик" | translate }}</p>
				</a>
				<a class="col-33 no-border light calm-bg ink"  ng-href="#/krylatskoe_abc_school/sche_" >
					<i class="icon ion-ios-bookmarks" ></i>
					<p>{{ "Расписание" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light calm-900-bg ink"  ng-href="#/krylatskoe_abc_school/noti_" >
					<i class="icon ion-android-warning" ></i>
					<p>{{ "Объявления" | translate }}</p>
				</a>
				<a class="col-33 no-border light balanced-bg ink"  ng-href="#/krylatskoe_abc_school/prof_" >
					<i class="icon ion-person" ></i>
					<p>{{ "Профиль" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>
		<br/>
		<br/>
		<br/>
		<br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
