	<ion-view view-title=" About Us" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-about_us" class="padding page-about_us">
		<div class="text-center">
    <img class="avatar relative" ng-src="data/images/background/transparent.png" />
    <p>Центр изучения иностранных языков ABC school Крылатское
</p>
</div>
   <a class="item item-icon-left" ng-click="openURL('mailto:krylatskoe@school-abc.ru')" >
    <i class="icon ion-android-call royal"></i>
    Контактные данные центра<br/>
    <span>
      Email: krylatskoe@school-abc.ru</br>Phone: +7 (495) 413-25-64
      </span>
  </a>
</div>
<br/>
<div class="text-left"> <p>Специалисты Центра изучения иностранных языков ABC school Крылатское предлагают целый спектр услуг в области преподавания иностранных языков и помогут освоить язык практически на любом уровне знания и в необходимом объёме.

Знание иностранного языка является одним из ярких показателей деловой успешности и образованности человека. Иностранный язык помогает самостоятельно путешествовать по миру, быть в курсе всех новостей из первых рук, получать образование в престижных университетах мира.</p></div>

<div class="embed_container"><iframe width="100%" ng-src="{{ 'https://www.youtube.com/embed/4mPonJVOHAw' | trustUrl }}" allowfullscreen></iframe></div>

<div class="text-center">
    <p>&copy; 2019 <a ng-click="openURL('http://mad-agency.xyz/')" >Mad Agency</a><br/>All Rights Reserved</p>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
